

body{
    margin: 0;
    padding: 0; 
    background-color: #FFF;
    font-family: Helvetica,Arial;
   
}
#main-section{
    background-image: url("https://static.fatsecret.com/static/images/splash/Sunrise_BG_01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 745px;
    width: 100%;
    background-position: left 0px;
    overflow-y: hidden;
}
#inner-section{
    width: 70%;
    height: 670px;
    border: 0px solid gray;
    margin: auto;
    /* border:none; */
    
  
} 
#nav-bar{
    width:100%;
    height:60px;
    border: 0px solid white;
    margin:auto;
    display: flex;
    margin-top: 16px;
    /* color: white; */
    justify-content: space-between;
    
}
.achor{
   
   border: 0px solid orange;
   display: flex;
   height: 25.5px;
   justify-content: space-between;
   width:40%;
   align-items: center;
    
}
.anchor1{
    border: 0px solid orange;
   display: flex;
   height: 25.5px;
   justify-content: right;
   /* width:9%; */
   text-decoration: none;
   color:white;
   align-items: center;
}
.anchor1 >img{
    margin-left: 10px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 11px;
    font-family: helvetica, Arial;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
h1{
    color: white;
    font-size: 43px;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 10px;
}
h1+img{
    width:400px;
    height: 80px;
    margin-bottom: 50px;
    /* padding: 0px 0px 46px; */
   
}
#facebook{
    width:400px;
    height: 40px;
    color: white;
    background-color: #3766B8;
    margin-bottom: 16px; 
    background-image: url(https://static.fatsecret.com/static/images/social/logo_facebook.svg);
    background-position-x: 8px;
    background-position-y: 8px; 
    text-indent: 32px;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 2px;
    font-family: 'roboto',sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    border: none;
    
}
#google{
    width:400px;
    height: 40px;
    color: white;
    background-color: #4285f4;
    margin-bottom: 16px; 
    background-image: url(https://a.ftscrt.com/static/images/social/logo_google.svg);
    background-position-x: 1px;
    background-position-y: 1px; 
    text-indent: 40px;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 2px;
    font-family: 'roboto',sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 40px; 
    border: none; 
}
p{
    font-size: 17px;
    color: white;
    font-family: Helvetica, Arial;
    margin-top: -4px;
    display: block;
    line-height: 25px;
    text-shadow: 1px 1px black;
}
input{
    display: inline-block;
    border: 1px solid #999;
    padding: 3px;
    vertical-align: top;
    font-size: 16px;
    height: 35px;
    line-height: 32px;
    width: 182px;
    margin-right: 12px;
    text-indent: 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
}
input+button{
    color: White;
    background-color: #32B34C;
    border: 1px solid #336F3F;
    font-weight: bold;
    font-size: 16px;
    height: 43px;
    width: 187px;
    cursor: pointer;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
}
.shadow-1{
    font-size: 15px;
    text-shadow: 1px 1px black;
}
#sign{
    font-size: 14px;
}
.shadow-2 {
    text-shadow: 2px 2px black;
    font-size: 21px;
    line-height: 35px;
    margin-top: -10px;
}
.shadow-2+div{
    margin-top: -20px;
}
.greenBar {
    background-color: #32B34C;
    /* height: 30px; */
    border-collapse: collapse;
   
} 
 td {
    display: table-cell;
    vertical-align: inherit;
}
table {
    /* border-collapse: collapse; */
    text-indent: initial;
    border-spacing: 2px;

}
#green-sec1{
    width: 100%;
    height: 227.6px;
    font-size: 13px;
    border: 1px solid red;
    color: white;
    background-color: #32B34C;
    margin-top: 10px;
}
.greenWall {
    background-color: #32B34C;
    width:100%;
    /* margin-top: -20px; */
}
.greenSection {
    width: 70%;
    margin: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    overflow-y: hidden;
}
.greenSectionInnerContent {
    margin:auto;
    position: relative;

}
h2{
    font-size: 43px;
    font-family: Helvetica,Arial;
    color: #FFF;
    margin-top: -10px;
}
h2+p{
    font-size: 21px;
    font-family: Helvetica,Arial;
    color: #FFF;
    padding: 14px 0px 0px;
    line-height: 35px;
    text-shadow: none;
    margin-top: -20px;
}

.transLogo {
    margin-top: -30px;
    text-align: center;
}
.whiteWall {
    background-color: #EDF1E9;
    min-width: 100%;
    text-align: center;
}
.colorBar {
    height: 34px;
    display: inline-block;
    zoom: 1;
    
}
.whiteWall {
    background-color: #EDF1E9;
    width: 100%;
    display: block;
    
}
.whiteSection {
    width: 100%;
    margin: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    display: block;
}
.whiteSectionInnerContent {
    margin: 0px auto;
    position: relative;
    width: 70%;
}
.inlineElement {
    display: inline-block;
    zoom: 1;
    width:40%;
}
.whiteBody{
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    /* padding-bottom: 14px; */
    color: #32B34C;
    font-size: 43px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    margin-left: -150px;
    margin-top: 10px;
}
ul {
    display:block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    /* padding-inline-start: 40px; */
    font-size: 15px;
    line-height: 25px;
    margin: 0px;

}
.bold {
    font-weight: 700;
}
.whiteBody2{
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    padding-bottom: 14px;
    color: #32B34C;
    font-size: 43px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-left: -150px;
    margin-top: 10px;
    
}
.copyText {
    font-size: 15px;
    color: black;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin: 0px;
    line-height: 25px;
    margin-top: -30px;
    
}
.greenWall2{
    background-color: #32B34C;
    min-width: 100%;
    display: block;
    height: 300px;
}
.greenSection2 {
    width: 100%;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    display: block;
}
.greenSection2InnerContent {
    margin: auto;
    position: relative;
    width: 70%;
}
.tertiaryText {
    font-size: 17px;
    font-weight: 600;
   
   
}
.inlineElement {
    display: inline-block;
    zoom: 1;
    height: 42px;
    width: 42px;
    color: black;
    text-shadow: none;
   
}
.headerText{
    margin-bottom: -20px;
}
.featureList {
    vertical-align: top;
    width: 80%;
}
.inlineElement {
    display: inline-block;
    zoom: 1;
    margin-block-start: 1em;
    margin-block-end: 1em;
   
}
#line{
    width: 100%;
    height: 25px;
    background-color:#93ADD2 ;
    border: 0px solid red;
}

.blueWall{
    /* margin-top: 40px; */
    width:100%;
    background-color: #93ADD2;
    height: 450px;
}
.blueWallSectionInnerContent{
    width: 70%;
    margin: auto;
}
.blueh2{
    margin-bottom: -17px;
    font-size: 40px;
}
.blueh2+p{
    text-shadow: none;
}
.inlineElement1{
    margin-top: -20px;
}

#black{
    width:100%;
    height: 40px;
    border: 0px solid white;
    background-color: black;
}
.blackWall{
    background-color: black;
}
.blackSection{
    margin-top: 100px;
    width: 70%;
    margin: auto;
    height: 200px;
    background-color: black;
}
#ptag2{
    margin-top: 40px;
}
.whiteWall {
    background-color: #EDF1E9;
    width: 100%;
    display: block;
    font-family: Helvetica,Arial;
    font-size: 13px;
}
.lastSection{
    margin: auto;
    display: block;
    position: relative;
    width:380px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}
.footerPanel .topPanel .top {
    color: rgba(0, 0, 0, 0.88);
    font-weight: 900;
    padding-bottom: 10px;
}
.footerPanel {
    /* color: #FFF; */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
}
.footerPanel .middlePanel {
    background-color: #333;
    padding: 40px 0px;
}
.footerPanel .middlePanel .social {
    padding-bottom: 22px;
}
.footerPanel .middlePanel .top {
    padding-bottom: 24px;
}
.footerPanel {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
}
.footerPanel .bottomPanel {
    background-color: #32B14C;
    border-bottom: 22px solid#EDF1E9;
    padding: 24px 0px 51px;
    position: relative;
}
.footerPanel .bottomPanel .other {
    position: absolute;
    right: 0px;
    top: 5px;
    margin-left: 123px;
}