

body{
    margin: 0;
    padding: 0; 
    background-color: #FFF;
    font-family: Helvetica,Arial;
   
}
#main-section{
    background-image: url("https://static.fatsecret.com/static/images/splash/Sunrise_BG_01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 730px;
    width: 100%;
    background-position: left 0px;
   
}
#inner-section{
    width: 70%;
    height: 670px;
    border: 1px solid gray;
    margin: auto;
    border:none;
  
} 
#nav-bar{
    width:100%;
    height:60px;
    border: 0px solid white;
    margin:auto;
    display: flex;
    margin-top: 16px;
    /* color: white; */
    justify-content: space-between;
    
}
.achor{
   
   border: 0px solid orange;
   display: flex;
   height: 25.5px;
   justify-content: space-between;
   width:40%;
   align-items: center;
    
}
.anchor1{
    border: 0px solid orange;
   display: flex;
   height: 25.5px;
   justify-content: right;
   /* width:9%; */
   text-decoration: none;
   color:white;
   align-items: center;
}
.anchor1 >img{
    margin-left: 10px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 11px;
    font-family: helvetica, Arial;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
h1{
    color: white;
    font-size: 43px;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 10px;
}
h1+img{
    width:400px;
    height: 80px;
    margin-bottom: 50px;
    /* padding: 0px 0px 46px; */
   
}
#facebook{
    width:400px;
    height: 40px;
    color: white;
    background-color: #3766B8;
    margin-bottom: 16px; 
    background-image: url(https://static.fatsecret.com/static/images/social/logo_facebook.svg);
    background-position-x: 8px;
    background-position-y: 8px; 
    text-indent: 32px;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 2px;
    font-family: 'roboto',sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    border: none;
    
}
#google{
    width:400px;
    height: 40px;
    color: white;
    background-color: #4285f4;
    margin-bottom: 16px; 
    background-image: url(https://a.ftscrt.com/static/images/social/logo_google.svg);
    background-position-x: 1px;
    background-position-y: 1px; 
    text-indent: 40px;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 2px;
    font-family: 'roboto',sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 40px; 
    border: none; 
}
p{
    font-size: 17px;
    color: white;
    font-family: Helvetica, Arial;
    margin-top: -4px;
    display: block;
    line-height: 25px;
    text-shadow: 1px 1px black;
}
input{
    display: inline-block;
    border: 1px solid #999;
    padding: 3px;
    vertical-align: top;
    font-size: 16px;
    height: 35px;
    line-height: 32px;
    width: 182px;
    margin-right: 12px;
    text-indent: 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
}
input+button{
    color: White;
    background-color: #32B34C;
    border: 1px solid #336F3F;
    font-weight: bold;
    font-size: 16px;
    height: 43px;
    width: 187px;
    cursor: pointer;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
}
.shadow-1{
    font-size: 15px;
    text-shadow: 1px 1px black;
}
#sign{
    font-size: 14px;
}
.shadow-2 {
    text-shadow: 2px 2px black;
    font-size: 21px;
    line-height: 35px;
    margin-top: -10px;
}
.shadow-2+div{
    margin-top: -20px;
}
.greenBar {
    background-color: #32B34C;
   
} 
 td {
    display: table-cell;
    vertical-align: inherit;
}
table {
    /* border-collapse: collapse; */
    text-indent: initial;
    border-spacing: 2px;

}
.mainSection {
    width: 1030px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    font-size: 13px;
}
h2{
    font-size: 42px;
    font-family: Helvetica, Arial ;
    color: white;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: -5px;
}
.greenWall {
    background-color: #32B34C;
    min-width: 1030px;
}
h2+p{
    font-size: 21px;
    font-family:  Helvetica, Arial;
    line-height: 35px;
    margin-top: -25px;
    text-shadow: none;
}
.colorBar{
    height: 32px;
    display: inline-block;
    zoom: 1;
    background-color: #EDF1E9;
    min-width: 1030px;
    width: 100%;
    text-align: center;
}
.transLogo{
    margin-top: -30px;
    text-align: center;
}
#greenlogo{
    width: 100%;
    text-align: center;
}
.whiteWall {
    background-color: #EDF1E9;
    min-width: 1030px;
}
.colorBar {
    height: 32px;
    display: inline-block;
    zoom: 1;
}
.transLogo {
    margin-top: -30px;
}
h2.noStyle {
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}
.green {
    color: #32B34C;
}
.headerText {
    font-size: 43px;
}

.mainSection {
    width: 1030px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
}
.mainSectionInnerContent{
    display: block;
}
