body{
    margin: 0px;
    padding: 0px;

}
.blackWall {
    background-color: #111;
    min-width: 1030px;
    overflow-y: hidden;
}
div {
    display: block;
}
body {
    /* background-color: #FFF; */
    font-family: Helvetica,Arial;
    font-size: 13px;
    /* margin: 0px;
    overflow-y: scroll; */
}
.mainSection {
    width: 1030px;
    margin: 0 auto;
    position: relative;
}
.mainSectionInnerContent {
    margin: 0px auto;
    position: relative;
    width: 990px;
}
.horizontalMenu {
    padding-top: 16px;
    text-align: left;
    height: 74px;
}
.horizontalMenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul {
    display: block;
    /* list-style-type: disc; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.horizontalMenu ul li {
    margin: 0px 65px 0px 0px;
    display: inline;
}
.white {
    color: #FFF;
}
.sectionLink {
    font-size: 11px;
    text-transform: uppercase;
}
li {
    text-align: -webkit-match-parent;
}
a:-webkit-any-link {
    /* color: -webkit-link; */
    cursor: pointer;
    /* text-decoration: underline; */
}
strong {
    font-weight: bold;
}
img {
    border: 0px;
}
h1.noStyle, h2.noStyle {
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}
.headerText {
    font-size: 43px;
}
h1 {
    display: block;
    /* font-size: 2em; */
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* /* font-weight: bold; */
} 
meta {
    display: none;
}
input {
    font: 8pt Verdana,Arial,Helvetica,sans-serif;
}
input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}
input {
    writing-mode: horizontal-tb !important;
    
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    /* display: inline-block; */
    text-align: start;
    /* appearance: auto; */
    -webkit-rtl-ordering: logical;
    background-color: field;
    margin: 0em;
    
    
}
.shadow-1 {
    text-shadow: 1px 1px black;
}
.copyText {
    font-size: 15px;
}
p {
    margin: 0px;
    line-height: 25px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
input.email {
    display: inline-block;
    border: 1px solid #999;
    padding: 3px;
    vertical-align: top;
    font-size: 16px;
    height: 35px;
    line-height: 32px;
    width: 175px;
    margin-right: 12px;
    text-indent: 5px;
}
button.greenButton {
    color: White;
    background-color: #32B34C;
    border: 1px solid #336F3F;
    font-weight: bold;
    font-size: 16px;
    height: 43px;
    width: 183px;
    cursor: pointer;
}
button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    
}
.shadow-2 {
    text-shadow: 2px 2px black;
    font-size: 21px;
}
a {
    color: #028CC4;
    text-decoration: none;
}
table {
    display: table;
    /* border-collapse: separate; */
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
.greenBar {
    background-color: #32B34C;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica,Arial;
    font-size: 13px;
}

.greenWall {
    background-color: #32B34C;
    min-width: 1030px;
}
div {
    display: block;
}
.mainSection {
    width: 1030px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
}
.mainSectionInnerContent {
    margin: 0px auto;
    position: relative;
    width: 990px;
}
h2.noStyle {
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}
.white {
    color: #FFF;
}
.headerText {
    font-size: 43px;
}
h2 {
    display: block;
    /* font-size: 1.5em; */
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: bold; */
}
.white {
    color: #FFF;
}
.secondaryText {
    font-size: 21px;
    line-height: 35px;
}
.noStyle {
    margin: 0px;
    padding: 0px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.whiteWall {
    background-color: #EDF1E9;
    min-width: 1030px;
}
.colorBar {
    height: 32px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    *vertical-align: text-bottom;
}
.mainSection {
    width: 1030px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
}
.mainSectionInnerContent {
    margin: 0px auto;
    position: relative;
    width: 990px;
}
.inlineElement {
    display: inline-block;
    zoom: 1;
    /* *display: inline; */
}
h2.noStyle {
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}
.green {
    color: #32B34C;
}
.headerText {
    font-size: 43px;
}
h2 {
    display: block;
    /* font-size: 1.5em; */
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: bold; */
}
.copyText {
    font-size: 15px;
}
ul {
    margin: 0px;
    line-height: 25px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.bold {
    font-weight: 700;
}
a {
    color: #028CC4;
    text-decoration: none;
}
li {
    text-align: -webkit-match-parent;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
.inlineElement {
    display: inline-block;
    zoom: 1;
    /* *display: inline; */
}
.greenBar {
    background-color: #32B34C;
}
.transLogo {
    margin-top: -30px;
}
img {
    border: 0px;
}
.greenWall {
    background-color: #32B34C;
    min-width: 1030px;
}
.mainSection {
    width: 1030px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
}
.mainSectionInnerContent {
    margin: 0px auto;
    position: relative;
    width: 990px;
}
.headerText {
    font-size: 43px;
}
.headerText {
    font-size: 43px;
}
.tertiaryText {
    font-size: 17px;
    font-weight: 600;
}
.topPadding {
    padding-top: 20px !important;
}
.featureList {
    vertical-align: top;
    width: 80%;
}
.blueWall {
    background-color: #93ADD2;
    min-width: 1030px;
}
.secondaryText {
    font-size: 21px;
    line-height: 35px;
}

a {
    color: #028CC4;
    text-decoration: none;
}
a:-webkit-any-link {
    /* color: -webkit-link; */
    cursor: pointer;
    /* text-decoration: underline; */
}
.blackWall {
    background-color: #111;
    min-width: 1030px;
}
input.email {
    display: inline-block;
    border: 1px solid #999;
    padding: 3px;
    vertical-align: top;
    font-size: 16px;
    height: 35px;
    line-height: 32px;
    width: 175px;
    margin-right: 12px;
    text-indent: 5px;
}
input {
    font: 8pt Verdana,Arial,Helvetica,sans-serif;
}
input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    /* line-height: normal; */
    text-transform: none;
    /* text-indent: 0px; */
    text-shadow: none;
    /* display: inline-block; */
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    
}
button.greenButton {
    color: White;
    background-color: #32B34C;
    border: 1px solid #336F3F;
    font-weight: bold;
    font-size: 16px;
    height: 43px;
    width: 183px;
    cursor: pointer;
}
button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    /* cursor: default; */
    box-sizing: border-box;
    margin: 0em;
    padding: 1px 6px;
}
.whiteWall {
    background-color: #EDF1E9;
    min-width: 1030px;
}
.footerPanel {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
}
.footerPanel .topPanel {
    padding: 48px 0px 40px;
}
.footerPanel .topPanel .top {
    color: rgba(0, 0, 0, 0.88);
    font-weight: 900;
    padding-bottom: 10px;
}
.footerPanel a {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.footerPanel .middlePanel {
    background-color: #333;
    padding: 40px 0px;
}
.footerPanel .middlePanel .social {
    padding-bottom: 22px;
}
.footerPanel .middlePanel .social a {
    padding: 0px 12px;
}
.footerPanel .middlePanel a {
    text-transform: uppercase;
}

.footerPanel a {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.footerPanel .middlePanel .top a {
    font-size: 15px;
    padding: 0px 12px;
}
.footerPanel .middlePanel a {
    text-transform: uppercase;
}
.footerPanel .bottomPanel {
    background-color: #32B14C;
    border-bottom: 22px solid#EDF1E9;
    padding: 24px 0px 51px;
    position: relative;
}
.centerContent {
    margin: 0px auto;
    position: relative;
    width: 1026px;
}
.centerInnerContent {
    margin: 0px auto;
    position: relative;
    width: 986px;
}
.footerPanel .bottomPanel .other {
    position: absolute;
    right: 0px;
    top: -6px;
}
.sectionLink {
    font-size: 11px;
    text-transform: uppercase;
}

/* @media all and (min-width:481px) and (max-width:761){
    body{
        width:800px;
    }
    blackWall {
        min-width: 800px;
        
} */

/* @media all and (min-width:320px) and (max-width:480px){
    
} */